.DS_Store
final/pokemon/
final/__pycache__/
final/vae/__pycache__/
final/vae/pokemon/
final/vnca/pokemon/
final/vae/tensorboardtrain/
final/vae/tensorboardtest/
final/vae/best
final/vae/latest
final/vnca/TBtrain/
final/vnca/TBtest/
final/vae/vae/
final/vae/vae_small/